@font-face {
  font-family: Dosis;
  src: url("../font/Dosis-VariableFont_wght.ttf");
}

@font-face {
  font-family: Righteous;
  src: url("../font/Righteous-Regular.ttf");
}

body{
	background-color: #0a192f;
}

#content{
  color: white;
	border-radius: 5px;
	position: fixed;
	width: 70%;
	left: 15%;
	top: 5%;
	height: 300px;
	text-align: center;
	box-shadow: 5px 10px;
}

h1{
	font-family: Righteous;
}

h2{
	font-family: Righteous;
}

a{
	font-family: Dosis;
}
