@font-face {
  font-family: Dosis;
  src: url("font/Dosis-VariableFont_wght.ttf");
}

@font-face {
  font-family: Righteous;
  src: url("font/Righteous-Regular.ttf");
}

body{
	background-color: rgb(0, 51, 153);
}

#repository{
	background-color: rgb(245, 245, 245);
	border-radius: 5px;
	position: fixed;
	width: 46%;
	left: 27%;
	height: 300px;
}

h1{
	font-family: Righteous;
}

a{
	font-family: Dosis;
}
